body {
  background-color: #f8e5e5 !important;
}

nav {
  background-color: #f5f5f555 !important;
}

.nav-items {
  grid-template-columns: 1fr 2fr !important;
}

.btn-gray {
  background-color: #fa255e !important;
  color: white !important;
}

.card {
  width: 18rem;
  background-color: #fcf0f0 !important;
}

.product-image {
  padding: 5px 20px 10px 20px !important;
}

.product-info {
  padding: 0 16px 16px 16px !important;
}

.btn-add-product {
  width: 200px;
  background-color: #fa255e !important;
  color: white !important;
}

.product-stock {
  padding: 5px 10px 0 10px;
  font-size: small;
  font-weight: lighter;
}

.product-justify {
  /* margin: auto */
  display: flex;
  justify-content: center;
}

.btn-checkout {
  float: right;
  width: fit-content;
  background-color: #fa255e !important;
  color: white !important;
  margin-bottom: 10px;
}

.checkout-form {
  background-color: #212529;
}

.row my-5 {
  display: inline - block;
}
